Repository 4castRenewables/maelstrom-a6: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-cluster, test-temporal, test-grid-search

build-docker:
  needs:
  - job: build-python
    artifacts: true

test-cluster:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

test-temporal:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

test-grid-search:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

Call parser outside main
  mlflow/concatenate_data_files.py
Due: test-cluster, test-temporal, test-grid-search

Log number of NaNs masked in dataset
  src/a6/datasets/methods/mask.py
  src/tests/unit/datasets/methods/test_mask.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add Dockerfile and Apptainer recipe for ROCm
  Makefile
  README.md
  apptainer/a6-rocm.def
  docker/a6-rocm.Dockerfile
Due: none

Add docstring
  src/a6/evaluation/forecast.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add MNIST evaluation notebook
  notebooks/mnist-analysis.ipynb
Due: none

Add train method for GWL classifier
  src/a6/datasets/__init__.py
  src/a6/datasets/crop.py
  src/a6/datasets/dwd.py
  src/a6/datasets/methods/__init__.py
  src/a6/datasets/methods/statistics.py
  src/a6/datasets/torch/__init__.py
  src/a6/datasets/torch/_base.py
  src/a6/datasets/torch/xarray.py
  src/a6/datasets/transforms/__init__.py
  src/a6/datasets/transforms/xarray.py
  src/a6/datasets/variables.py
  src/a6/dcv2/_initialization.py
  src/a6/dcv2/_logs.py
  src/a6/dcv2/entry.py
  src/a6/dcv2/train.py
  src/a6/entry/__init__.py
  src/a6/entry/gwl.py
  src/a6/evaluation/evaluate.py
  src/a6/evaluation/metrics.py
  src/a6/models/__init__.py
  src/a6/models/cnn.py
  src/a6/training/train.py
  src/a6/utils/distributed.py
  src/a6/utils/logging.py
  src/tests/unit/conftest.py
  src/tests/unit/datasets/torch/test_xarray_torch.py
  src/tests/unit/datasets/transforms/test_xarray.py
  src/tests/unit/dcv2/test_dataset.py
  src/tests/unit/dcv2/test_entry.py
  src/tests/unit/entry/test_gwl.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Extract method to select closest time step in xr.Dataset
  src/a6/datasets/methods/select.py
  src/a6/datasets/torch/xarray.py
  src/tests/unit/datasets/methods/test_select.py
  src/tests/unit/datasets/torch/test_xarray_torch.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Move DCv2 to entry module and make modules public
  src/a6/dcv2/__init__.py
  src/a6/dcv2/averaging.py
  src/a6/dcv2/initialization.py
  src/a6/dcv2/parse.py
  src/a6/dcv2/settings.py
  src/a6/dcv2/stats.py
  src/a6/entry/dcv2.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Move DCv2 to entry module and make modules public
  mlflow/train_dcv2.py
  src/a6/__init__.py
  src/a6/dcv2/_checkpoints.py
  src/a6/dcv2/cluster.py
  src/a6/dcv2/train.py
  src/a6/entry/__init__.py
  src/a6/models/__init__.py
  src/a6/models/checkpoints.py
  src/tests/unit/dcv2/test_parse.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Update mantik version
  poetry.lock
  pyproject.toml
Due: build-docker, test-cluster, test-temporal, test-grid-search

Generalize select_intersecting_time_steps
  src/a6/datasets/methods/select.py
  src/a6/datasets/methods/turbine.py
  src/a6/evaluation/forecast.py
  src/tests/unit/datasets/methods/test_select.py
  src/tests/unit/datasets/methods/test_turbine.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix GWL CNN for ERA5 data
  mlflow/train_gwl_cnn.py
  src/a6/datasets/torch/xarray.py
  src/a6/entry/gwl.py
  src/a6/models/cnn.py
  src/a6/training/train.py
  src/tests/unit/dcv2/test_entry.py
  src/tests/unit/entry/test_gwl.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Move preprocessing of forecast data to additional script
  mlflow/MLproject
  mlflow/forecast_errors.py
  mlflow/preprocess_turbine.py
  src/a6/datasets/methods/__init__.py
  src/a6/datasets/methods/save.py
  src/a6/entry/__init__.py
  src/a6/entry/forecast.py
  src/a6/entry/preprocess.py
  src/a6/evaluation/__init__.py
  src/a6/utils/paths.py
  src/tests/unit/evaluate/test_forecast.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Refactor models and GWL prediction script
  jube.yaml
  mlflow/train_gwl_cnn.py
  src/a6/dcv2/settings.py
  src/a6/entry/dcv2.py
  src/a6/entry/gwl.py
  src/a6/evaluation/evaluate.py
  src/a6/models/__init__.py
  src/a6/models/resnet.py
  src/a6/models/resnet_dcv2.py
  src/a6/training/train.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add files required for D3.7 benchmarks
  jube/README.md
  jube/run.py
  jube/submit.yaml
  mlflow/MLproject
  src/a6/datasets/crop.py
  src/a6/dcv2/__init__.py
  src/a6/dcv2/_parse.py
  src/a6/dcv2/cluster.py
  src/a6/dcv2/entry.py
  src/a6/dcv2/train.py
  src/a6/plotting/embeddings.py
  src/a6/utils/__init__.py
  src/a6/utils/distributed.py
  src/a6/utils/energy.py
  src/a6/utils/mantik.py
  src/a6/utils/models.py
  src/a6/utils/usage.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add seconds unit to logs
  src/a6/dcv2/train.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add modules to init
  src/a6/__init__.py
  src/a6/evaluation/__init__.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Test script for training ResNet50 with MNIST
  scripts/mnist_resnet.py
Due: none

Add mnist data folder to gitignore
  .gitignore
Due: none

Use settings class instead of torch
  src/a6/dcv2/train.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix logging statement
  src/a6/studies/grid_search.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add more timers
  src/a6/dcv2/train.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Set PYTHONPATH env var for ROCm libs
  apptainer/a6-rocm.def
  docker/a6-rocm.Dockerfile
Due: none

Fix writing of power measurement
  src/a6/dcv2/entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Allow disabling of saving of tensors and plots
  src/a6/dcv2/_parse.py
  src/a6/dcv2/_settings.py
  src/a6/dcv2/cluster.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix JSC submission
  jube/README.md
  jube/submit.yaml
Due: none

Adjust JUBE script for E4 system
  jube/README.md
  jube/submit.yaml
Due: none

Fix e4 tags and add total runtime to analyze
  jube/submit.yaml
Due: none

Add pynvml
  poetry.lock
  pyproject.toml
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix E4 sif image path
  jube/submit.yaml
Due: none

Adjust sif image path to allowed singularity path
  jube/submit.yaml
Due: none

Add proprietary script to create turbine data
  scripts/create_turbine_data.py
  scripts/run-create-turbine-data.sbatch
Due: none

Remove duplicate section
  jube/submit.yaml
Due: none

Fix no intersection error
  src/a6/datasets/methods/select.py
  src/a6/entry/preprocess.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix jube script for E4 and include power measurement
  jube/README.md
  jube/submit.yaml
Due: none

Import openTSNE inside method to avoid import error
  src/a6/plotting/embeddings.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add arm Dockerfile
  .pre-commit-config.yaml
  docker/a6-cuda-arm.Dockerfile
  docker/ecmwflibs-0.6.1-cp311-cp311-linux_aarch64.whl
  jube/submit.yaml
Due: none

Track .whl files
  .gitattributes
Due: none

Add use-nccl flag to allow disabling of NCCL backend
  src/a6/dcv2/_parse.py
  src/a6/dcv2/_settings.py
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add get_rank method to utils.distributed
  src/a6/dcv2/entry.py
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Path conditions:
  build-docker: any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock
  test-cluster: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-temporal: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-grid-search: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
