Repository 4castRenewables/maelstrom-a6: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-cluster, test-temporal, test-grid-search

Path conditions:
  build-docker: any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock
  test-cluster: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-temporal: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-grid-search: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)

Add Era5 dataset class
  Makefile
  docker/a6-cuda.Dockerfile
  poetry.lock
  pyproject.toml
  requirements-cpu.txt
  src/a6/datasets/__init__.py
  src/a6/datasets/era5.py
  src/tests/unit/datasets/test_era5.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Introduce datasets base class
  src/a6/__init__.py
  src/a6/datasets/_base.py
  src/a6/datasets/ecmwf_ifs_hres.py
  src/a6/datasets/era5.py
  src/a6/testing/fake_datasets.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add type hints
  src/a6/dcv2/models.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Use ERA5 test data
  src/a6/datasets/era5.py
  src/tests/data/era5/era5_pl_20000101_20000102.nc
  src/tests/data/era5/era5_pl_20000103_20000104.nc
  src/tests/unit/datasets/test_era5.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add method to get in_channels from dataset
  src/a6/features/methods/layers.py
  src/tests/unit/conftest.py
  src/tests/unit/features/methods/test_layers.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add xarray dataloader args
  src/a6/dcv2/_parse.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Implement xarray dataloader for DCv2
  src/a6/datasets/methods/convert.py
  src/a6/datasets/methods/layers.py
  src/a6/datasets/methods/normalization.py
  src/a6/datasets/methods/transform.py
  src/a6/dcv2/dataset.py
  src/a6/dcv2/entry.py
  src/a6/types.py
  src/tests/unit/datasets/methods/test_layers.py
  src/tests/unit/datasets/methods/test_transform.py
  src/tests/unit/dcv2/test_dataset.py
  src/tests/unit/dcv2/test_entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add parallel loading arg
  src/a6/dcv2/_parse.py
  src/a6/dcv2/entry.py
  src/tests/unit/dcv2/test_cluster_dcv2.py
  src/tests/unit/plotting/test_assignments.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add method to dump statistics to json
  src/a6/datasets/methods/convert.py
  src/a6/datasets/methods/normalization.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add ToTensor to TIF loader
  src/a6/dcv2/dataset.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Remove deleted files from exclude patterns
  pyproject.toml
Due: build-docker, test-cluster, test-temporal, test-grid-search

Use tmp_path for DCv2 tests
  src/tests/unit/dcv2/test_entry.py
Due: none

Allow multi-level data as input for CNN
  src/a6/cli/options/data.py
  src/a6/cli/options/pca.py
  src/a6/datasets/_base.py
  src/a6/datasets/methods/normalization.py
  src/a6/datasets/methods/select.py
  src/a6/datasets/methods/transform.py
  src/a6/dcv2/_parse.py
  src/a6/dcv2/dataset.py
  src/a6/dcv2/entry.py
  src/a6/testing/fake_datasets.py
  src/a6/types.py
  src/tests/unit/conftest.py
  src/tests/unit/datasets/methods/test_normalization.py
  src/tests/unit/datasets/methods/test_transform.py
  src/tests/unit/dcv2/test_dataset.py
  src/tests/unit/dcv2/test_entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Test with local tracking
  mlflow/MLproject
  src/a6/dcv2/entry.py
  src/tests/unit/dcv2/test_entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Delete unused sagemaker module
  src/a6/cli/arguments/__init__.py
  src/a6/cli/arguments/sagemaker.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add __str__ to ignore
  pyproject.toml
Due: build-docker, test-cluster, test-temporal, test-grid-search

Remove build-python step
  .gitlab-ci.yml
Due: none

Change pytest dir
  .gitlab-ci.yml
Due: none

Add dcv2 module to __init__
  src/a6/__init__.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add moving of coverage report
  .gitlab-ci.yml
Due: none

Update Python version for Docker image
  docker/a6.Dockerfile
Due: build-docker, test-cluster, test-temporal, test-grid-search

Install pytorch-cpu in Docker image
  docker/a6.Dockerfile
Due: build-docker, test-cluster, test-temporal, test-grid-search

Move copy section for better caching
  docker/a6-cuda.Dockerfile
  docker/a6.Dockerfile
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add autocorrelation plot method
  poetry.lock
  pyproject.toml
  src/a6/plotting/__init__.py
  src/a6/plotting/autocorrelation.py
  src/a6/types.py
  src/tests/unit/plotting/conftest.py
  src/tests/unit/plotting/test_autocorrelation.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add transition matrix plot methods
  src/a6/plotting/transitions.py
  src/tests/unit/plotting/test_transitions.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Allow saving of plots to disk
  src/a6/dcv2/cluster.py
  src/a6/plotting/__init__.py
  src/a6/plotting/autocorrelation.py
  src/a6/plotting/transitions.py
  src/tests/data/deepclusterv2/train/pl_2017-01-03T00:00_level_500_t_z_h_spd.tif
  src/tests/data/deepclusterv2/train/pl_2017-01-04T00:00_level_500_t_z_h_spd.tif
Due: build-docker, test-cluster, test-temporal, test-grid-search

Change python version on PYTHONPATH
  .gitlab-ci.yml
Due: none

Replace NaN with 0 in transition matrix
  src/a6/plotting/transitions.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix min-max scaler and remove from MultiCropXarrayDatset
  src/a6/datasets/methods/normalization.py
  src/a6/dcv2/dataset.py
  src/tests/unit/datasets/methods/test_transform.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Refactor args to dataclass
  src/a6/dcv2/_checkpoints.py
  src/a6/dcv2/_initialization.py
  src/a6/dcv2/_parse.py
  src/a6/dcv2/_settings.py
  src/a6/dcv2/cluster.py
  src/a6/dcv2/entry.py
  src/a6/dcv2/logs.py
  src/a6/dcv2/models.py
  src/a6/dcv2/train.py
  src/a6/plotting/assignments.py
  src/a6/plotting/embeddings.py
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Lower pytorch version again
  README.md
  docker/a6-cuda.Dockerfile
  poetry.lock
  pyproject.toml
  requirements-cpu.txt
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix MLproject file and backend config
  mlflow/MLproject
  mlflow/compute-backend-config-dcv2.yaml
Due: test-cluster, test-temporal, test-grid-search

Adapt size_crops type to float and default 0.75
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Add custom parser for quoted strings for compatibility with MLproject behavior
  mlflow/MLproject
  src/a6/dcv2/_parse.py
  src/a6/dcv2/_settings.py
  src/tests/unit/dcv2/test_parse.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add new parameters to command
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Create crops_for_assign from nmb_crops
  src/a6/dcv2/_parse.py
  src/a6/dcv2/_settings.py
  src/a6/dcv2/cluster.py
  src/a6/dcv2/train.py
  src/tests/unit/dcv2/test_entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix multi-device and multi-node training
  src/a6/datasets/_base.py
  src/a6/dcv2/_initialization.py
  src/a6/dcv2/_settings.py
  src/a6/dcv2/cluster.py
  src/a6/dcv2/dataset.py
  src/a6/dcv2/entry.py
  src/a6/dcv2/logs.py
  src/a6/plotting/embeddings.py
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Pass nproc-per-node from SLURM_STEP_GPUS to torchrun
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Get rdzv-endpoint from SLURM_JOB_NODELIST
  mlflow/MLproject
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix tests
  src/a6/datasets/_base.py
  src/tests/unit/plotting/test_assignments.py
  src/tests/unit/plotting/test_embeddings.py
  src/tests/unit/plotting/test_transitions.py
Due: build-docker, test-cluster, test-temporal, test-grid-search
