Repository 4castRenewables/maelstrom-a6: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-cluster, test-temporal, test-grid-search

build-docker:
  needs:
  - job: build-python
    artifacts: true

test-cluster:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

test-temporal:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

test-grid-search:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

Allow to pass multiple arguments to list options
  src/a6/dcv2/parse.py
  src/a6/dcv2/settings.py
  src/tests/unit/dcv2/test_entry.py
  src/tests/unit/dcv2/test_parse.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Remove tab
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Remove newline
  README.md
Due: none

Add option for crops-for-assign
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Fix image loading for ImageNet dataset
  src/a6/datasets/crop.py
  src/a6/dcv2/train.py
  src/a6/entry/dcv2.py
  src/a6/utils/__init__.py
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add function to load deep500 if installed
  src/a6/utils/benchmark.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix distributed training by using Slurm tasks
  jube/submit.yaml
  src/a6/entry/dcv2.py
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Adapt Compute Backend Config to Slurm tasks
  mlflow/compute-backend-config-dcv2.yaml
Due: test-cluster, test-temporal, test-grid-search

Remove torchrun from entry point command
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Delete unused torchrun JSC script
  jube/torchrun_jsc.py
Due: none

Add python executable before script in entry point command
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Add mpi4py as dependency
  README.md
  docker/a6-cuda.Dockerfile
  poetry.lock
  pyproject.toml
Due: build-docker, test-cluster, test-temporal, test-grid-search

Run pre commit
  jube/submit.yaml
  src/a6/datasets/crop.py
  src/a6/entry/dcv2.py
  src/a6/utils/benchmark.py
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Disable nbstripout
  .gitlab-ci.yml
Due: none

Fix tests
  src/tests/unit/dcv2/test_entry.py
  src/tests/unit/utils/test_slurm.py
Due: none

Remove logging of ImageNet class files
  src/a6/datasets/crop.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Only save results for primary device
  src/a6/dcv2/cluster.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Use correct number of GPUs for multi-node on jwc
  jube/submit.yaml
Due: none

Add entry point for training GWL CNN classifier
  mlflow/MLproject
  mlflow/compute-backend-config-dcv2.yaml
  mlflow/compute-backend-config.yaml
  mlflow/train_gwl_cnn.py
  src/a6/entry/gwl.py
  src/a6/training/train.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix parameter default
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Fix choices for entry point parameter
  mlflow/train_gwl_cnn.py
Due: test-cluster, test-temporal, test-grid-search

Introduce model setup and dataloader setup for distributed
  mlflow/mantik-distributed.yaml
  mlflow/mantik.yaml
  mlflow/train_gwl_cnn.py
  src/a6/dcv2/initialization.py
  src/a6/dcv2/settings.py
  src/a6/entry/dcv2.py
  src/a6/entry/gwl.py
  src/a6/models/resnet_dcv2.py
  src/a6/training/train.py
  src/a6/utils/distributed.py
  src/a6/utils/logging.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix errors
  src/a6/dcv2/initialization.py
  src/a6/entry/dcv2.py
  src/a6/entry/gwl.py
  src/a6/utils/distributed.py
  src/tests/unit/entry/test_gwl.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix errors
  src/a6/dcv2/settings.py
  src/a6/models/resnet_dcv2.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix logging setup
  src/a6/entry/dcv2.py
  src/a6/utils/distributed.py
  src/a6/utils/logging.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Remove comment
  mlflow/mantik.yaml
  mlflow/train_gwl_cnn.py
Due: test-cluster, test-temporal, test-grid-search

Add GWL input features for forecast errors
  mlflow/MLproject
  mlflow/train_gwl_cnn.py
  src/a6/entry/forecast.py
  src/a6/entry/preprocess.py
  src/a6/features/methods/reshape/sklearn.py
  src/a6/plotting/_colors.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix rocm image
  docker/a6-rocm.Dockerfile
Due: none

Move forecast code to notebook
  notebooks/forecast-model.ipynb
Due: none

Add new MNIST results
  notebooks/mnist-analysis.ipynb
Due: none

Fix forecast error simulation
  notebooks/forecast-model.ipynb
  src/a6/datasets/methods/select.py
  src/a6/entry/forecast.py
  src/a6/utils/__init__.py
  src/a6/utils/parallelize.py
  src/a6/utils/times.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Check for no turbine data time steps before processing weather data
  src/a6/entry/forecast.py
  src/a6/utils/parallelize.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add random label training option for forecast errors
  mlflow/MLproject
  src/a6/entry/forecast.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Simulate forecasts without train set
  mlflow/MLproject
  mlflow/mantik-distributed.yaml
  mlflow/mantik.yaml
  src/a6/datasets/methods/turbine.py
  src/a6/entry/forecast.py
  src/a6/features/methods/__init__.py
  src/a6/features/methods/selection.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Format files
  mlflow/train_gwl_cnn.py
  src/a6/datasets/methods/select.py
  src/a6/datasets/methods/turbine.py
  src/a6/entry/forecast.py
  src/a6/entry/preprocess.py
  src/a6/features/methods/selection.py
  src/a6/utils/__init__.py
  src/a6/utils/distributed.py
  src/a6/utils/logging.py
  src/a6/utils/parallelize.py
  src/a6/utils/times.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Use 30 instead of 29 clusters
  notebooks/pca_kmeans.ipynb
Due: none

Add script for scree test
  mlflow/MLproject
  scripts/pca_k_means_scree_test.py
Due: test-cluster, test-temporal, test-grid-search

Path conditions:
  build-docker: any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock
  test-cluster: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-temporal: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-grid-search: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
