Repository 4castRenewables/maelstrom-a6: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-cluster, test-temporal, test-grid-search

build-docker:
  needs:
  - job: build-python
    artifacts: true

test-cluster:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

test-temporal:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

test-grid-search:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

Log inputs if loss NaN
  src/a6/dcv2/entry.py
  src/a6/dcv2/train.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Raise error when loss is NaN
  src/a6/dcv2/train.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Read mean/std from dataset attributes
  src/a6/datasets/crop.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add logging statements for LR schedule
  src/a6/dcv2/entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Mask NaNs with mean in __getitem__
  notebooks/maelstrom-bootcamp-2023/01-data-insight.ipynb
  notebooks/maelstrom-bootcamp-2023/02-DeepClusterV2.ipynb
  src/a6/datasets/crop.py
  src/a6/datasets/methods/__init__.py
  src/a6/datasets/methods/mask.py
  src/a6/dcv2/train.py
  src/tests/unit/datasets/methods/test_mask.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Remove deprecated dcv2 notebooks
  notebooks/deepclusterv2.ipynb
  notebooks/plots/dcv2-30-clusters-2d.png
  notebooks/plots/dcv2-30-clusters-duration.png
  notebooks/plots/dcv2-30-clusters-time-series.png
Due: none

Add notebook to add mean and std to datasets
  notebooks/add_mean_std_to_netcdf_attrs.ipynb
Due: none

Continue notebooks
  notebooks/add_mean_std_to_netcdf_attrs.ipynb
  notebooks/maelstrom-bootcamp-2023/01-data-insight.ipynb
  notebooks/maelstrom-bootcamp-2023/02-DeepClusterV2.ipynb
Due: none

Only log plots to reduce artifact size
  src/a6/dcv2/entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Rename init/cluster_memory to _embeddings
  src/a6/dcv2/cluster.py
  src/a6/dcv2/entry.py
  src/a6/dcv2/train.py
  src/a6/models/resnet.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add text to dcv2 notebook
  notebooks/maelstrom-bootcamp-2023/02-DeepClusterV2.ipynb
  notebooks/maelstrom-bootcamp-2023/images/dcv2-architecture.png
Due: none

Clear notebook outputs
  notebooks/maelstrom-bootcamp-2023/01-data-insight.ipynb
Due: none

Make output dir optional
  src/a6/plotting/assignments.py
  src/a6/plotting/embeddings.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Use sklearn param for NRMSE
  src/a6/training/metrics/turbine.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add methods to calculate time of day and year
  src/a6/features/methods/time.py
  src/tests/unit/features/methods/test_time.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Replace JUWELS with JURECA intro
  notebooks/maelstrom-bootcamp-2023/01-jupterjsc.ipynb
  notebooks/maelstrom-bootcamp-2023/03-DeepClusterV2.ipynb
Due: none

Add notebook for jupterjsc
  notebooks/maelstrom-bootcamp-2023/01-data-insight.ipynb
  notebooks/maelstrom-bootcamp-2023/01-jupterjsc.ipynb
  notebooks/maelstrom-bootcamp-2023/02-DeepClusterV2.ipynb
  notebooks/maelstrom-bootcamp-2023/02-data-insight.ipynb
Due: none

Add updated notebook
  notebooks/maelstrom-bootcamp-2023/02-DeepClusterV2.ipynb
Due: none

Update torch version
  poetry.lock
  pyproject.toml
  requirements-cpu.txt
Due: build-docker, test-cluster, test-temporal, test-grid-search

Import training module
  src/a6/__init__.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Uncomment installation of apex and upgrade pip
  docker/a6-cuda.Dockerfile
Due: none

Add mlflow logging to script
  mlflow/concatenate_data_files.py
Due: test-cluster, test-temporal, test-grid-search

Fix tests
  src/tests/unit/datasets/methods/test_turbine.py
  src/tests/unit/evaluate/test_forecast.py
Due: none

Refactor forecast code
  src/a6/evaluation/forecast.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add entry point and script to concatenate data files
  mlflow/MLproject
  mlflow/concatenate_data_files.py
Due: test-cluster, test-temporal, test-grid-search

Log data for calculate_wind_speed
  mlflow/forecast_errors.py
  src/a6/features/methods/wind.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add script to simulate forecast errors
  mlflow/MLproject
  mlflow/forecast_errors.py
  src/a6/datasets/methods/select.py
  src/a6/datasets/methods/turbine.py
  src/a6/datasets/variables.py
  src/a6/evaluation/__init__.py
  src/a6/evaluation/forecast.py
  src/a6/features/methods/__init__.py
  src/a6/features/methods/reshape/sklearn.py
  src/a6/features/methods/time.py
  src/a6/studies/grid_search.py
  src/a6/training/grid_search.py
  src/tests/data/ml_20200101-02-turbine-matched.nc
  src/tests/data/pl_20200101-02-turbine-matched.nc
  src/tests/data/sfc_20200101-02-turbine-matched.nc
  src/tests/data/turbine/turbine.nc
  src/tests/unit/evaluate/test_forecast.py
  src/tests/unit/features/methods/test_time.py
  src/tests/unit/studies/test_grid_search.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Move logger to main method
  mlflow/concatenate_data_files.py
  mlflow/forecast_errors.py
  mlflow/pca_and_kmeans.py
Due: test-cluster, test-temporal, test-grid-search

Fix Docker image
  docker/a6-cuda.Dockerfile
Due: none

Remove newline
  docker/a6-cuda.Dockerfile
Due: none

remove MLflow API calls for concatenate script
  mlflow/concatenate_data_files.py
Due: test-cluster, test-temporal, test-grid-search

Reorder test imports and remove env vars from .sif
  apptainer/a6-cuda.def
  docker/a6-cuda.Dockerfile
Due: none

Update apptainer image version
  apptainer/a6-cuda.def
Due: none

Use correct path for code repo dir
  mlflow/compute-backend-config-dcv2.yaml
Due: test-cluster, test-temporal, test-grid-search

Change default for RandomResizedCrop to 0.85
  src/a6/dcv2/_parse.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix logging statement
  src/a6/studies/grid_search.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add MNIST dataset for testing
  src/a6/datasets/crop.py
  src/a6/dcv2/entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Create MNIST data dir if not exists
  src/a6/datasets/crop.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add argument to allow usage of MNIST
  mlflow/MLproject
  src/a6/dcv2/_parse.py
  src/a6/dcv2/_settings.py
  src/a6/dcv2/entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add docstrings for parser actions
  src/a6/dcv2/_parse.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Path conditions:
  build-docker: any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock
  test-cluster: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-temporal: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-grid-search: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
