Repository 4castRenewables/maelstrom-a6: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-cluster, test-temporal, test-grid-search

build-docker:
  needs:
  - job: build-python
    artifacts: true

test-cluster:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

test-temporal:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

test-grid-search:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

Fix variable expansion in MLproject entry point command
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Install mlflow specifically
  .gitlab-ci.yml
Due: none

Run docker build without previous tests
  .gitlab-ci.yml
Due: none

Add issue with ERA5 data to README
  README.md
Due: none

Set correct CUDA version in PATH
  docker/a6-cuda.Dockerfile
Due: none

Add log statements for dataset reading
  src/a6/datasets/_base.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Allow passing of tuples to size-crops and min-/max-scale-crops
  src/a6/dcv2/_parse.py
  src/tests/unit/dcv2/test_parse.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add script to create daily ERA5 data
  scripts/era5_to_daily.py
Due: none

Add port to rdzv-endpoint
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Fix saving of daily ERA5 data to files
  scripts/era5_to_daily.py
Due: none

Fix parsing of nmb-crops
  src/a6/dcv2/_parse.py
  src/tests/unit/dcv2/test_parse.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add logging statement for mean and std
  src/a6/dcv2/dataset.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Read nproc-per-node from SLURM_JOB_GPUS
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Set apex group size to number of GPUs available
  src/a6/dcv2/_settings.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Remove syncbn group size from argparser
  src/a6/dcv2/_parse.py
  src/a6/dcv2/_settings.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Delete outdated comment from Dockerimage
  apptainer/a6-cuda.def
  docker/a6-cuda.Dockerfile
Due: none

Introduce identity functional method
  src/a6/datasets/methods/__init__.py
  src/a6/datasets/methods/identity.py
  src/a6/dcv2/entry.py
  src/a6/dcv2/train.py
  src/tests/unit/dcv2/test_entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Log env vars before distributed setup
  src/a6/dcv2/entry.py
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Save base args in global variable
  src/tests/unit/dcv2/test_entry.py
Due: none

Use CUDA_VISIBLE_DEVICES instead of Slurm env var
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Log env vars only for primary device
  src/a6/dcv2/entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add check for NCCL installation
  apptainer/a6-cuda.def
  docker/a6-cuda.Dockerfile
Due: none

Use nproc-per-node=gpu
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Install mlflow in integration test step
  .gitlab-ci.yml
Due: none

Fix template commit hash
  .gitlab-ci.yml
Due: none

Delete CI jobs for unused Docker image and mlflow entry points
  .gitlab-ci.yml
Due: none

Delete unused methods
  src/a6/utils/mantik.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix typos, method and variable names
  src/a6/datasets/_base.py
  src/a6/datasets/ecmwf_ifs_hres.py
  src/a6/datasets/era5.py
  src/a6/datasets/methods/layers.py
  src/a6/datasets/methods/transform.py
  src/a6/dcv2/_checkpoints.py
  src/a6/dcv2/_initialization.py
  src/a6/dcv2/cluster.py
  src/a6/dcv2/dataset.py
  src/a6/dcv2/entry.py
  src/a6/plotting/embeddings.py
  src/tests/unit/dcv2/test_dataset.py
  src/tests/unit/plotting/test_embeddings.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Refactor transformations to method
  src/a6/dcv2/_checkpoints.py
  src/a6/dcv2/dataset.py
  src/a6/dcv2/entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Save results in loop
  src/a6/dcv2/cluster.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add transition matrix plot methods
  src/a6/plotting/transitions.py
  src/tests/unit/plotting/test_transitions.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Allow saving of plots to disk
  src/a6/dcv2/cluster.py
  src/a6/plotting/__init__.py
  src/a6/plotting/autocorrelation.py
  src/a6/plotting/transitions.py
  src/tests/data/deepclusterv2/train/pl_2017-01-03T00:00_level_500_t_z_h_spd.tif
  src/tests/data/deepclusterv2/train/pl_2017-01-04T00:00_level_500_t_z_h_spd.tif
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add autocorrelation plot method
  poetry.lock
  pyproject.toml
  src/a6/plotting/__init__.py
  src/a6/plotting/autocorrelation.py
  src/a6/types.py
  src/tests/unit/plotting/conftest.py
  src/tests/unit/plotting/test_autocorrelation.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Replace NaN with 0 in transition matrix
  src/a6/plotting/transitions.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix min-max scaler and remove from MultiCropXarrayDatset
  src/a6/datasets/methods/normalization.py
  src/a6/dcv2/dataset.py
  src/tests/unit/datasets/methods/test_transform.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Refactor args to dataclass
  src/a6/dcv2/_checkpoints.py
  src/a6/dcv2/_initialization.py
  src/a6/dcv2/_parse.py
  src/a6/dcv2/_settings.py
  src/a6/dcv2/cluster.py
  src/a6/dcv2/entry.py
  src/a6/dcv2/logs.py
  src/a6/dcv2/models.py
  src/a6/dcv2/train.py
  src/a6/plotting/assignments.py
  src/a6/plotting/embeddings.py
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Adapt size_crops type to float and default 0.75
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Add new parameters to command
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Fix MLproject file and backend config
  mlflow/MLproject
  mlflow/compute-backend-config-dcv2.yaml
Due: test-cluster, test-temporal, test-grid-search

Path conditions:
  build-docker: any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock
  test-cluster: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-temporal: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-grid-search: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
