Repository 4castRenewables/maelstrom-a6: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-cluster, test-temporal, test-grid-search

build-docker:
  needs:
  - job: build-python
    artifacts: true

test-cluster:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

test-temporal:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

test-grid-search:
  stage: integration
  needs:
  - job: build-python
    artifacts: true
  - job: build-docker
    artifacts: true
  services:
  - docker:dind
  image: docker:latest
  variables: null
  before_script:
  - - .set-required-docker-environment-variables
    - script
  - ls -al .
  - docker load -i ${DOCKER_ZIPPED_IMAGE_FILE}.tar.gz
  ...

Lower pytorch version again
  README.md
  docker/a6-cuda.Dockerfile
  poetry.lock
  pyproject.toml
  requirements-cpu.txt
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add custom parser for quoted strings for compatibility with MLproject behavior
  mlflow/MLproject
  src/a6/dcv2/_parse.py
  src/a6/dcv2/_settings.py
  src/tests/unit/dcv2/test_parse.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Create crops_for_assign from nmb_crops
  src/a6/dcv2/_parse.py
  src/a6/dcv2/_settings.py
  src/a6/dcv2/cluster.py
  src/a6/dcv2/train.py
  src/tests/unit/dcv2/test_entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix multi-device and multi-node training
  src/a6/datasets/_base.py
  src/a6/dcv2/_initialization.py
  src/a6/dcv2/_settings.py
  src/a6/dcv2/cluster.py
  src/a6/dcv2/dataset.py
  src/a6/dcv2/entry.py
  src/a6/dcv2/logs.py
  src/a6/plotting/embeddings.py
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix variable expansion in MLproject entry point command
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Add script to create daily ERA5 data
  scripts/era5_to_daily.py
Due: none

Get rdzv-endpoint from SLURM_JOB_NODELIST
  mlflow/MLproject
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Pass nproc-per-node from SLURM_STEP_GPUS to torchrun
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Set correct CUDA version in PATH
  docker/a6-cuda.Dockerfile
Due: none

Fix tests
  src/a6/datasets/_base.py
  src/tests/unit/plotting/test_assignments.py
  src/tests/unit/plotting/test_embeddings.py
  src/tests/unit/plotting/test_transitions.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix saving of daily ERA5 data to files
  scripts/era5_to_daily.py
Due: none

Add issue with ERA5 data to README
  README.md
Due: none

Add port to rdzv-endpoint
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Allow passing of tuples to size-crops and min-/max-scale-crops
  src/a6/dcv2/_parse.py
  src/tests/unit/dcv2/test_parse.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add log statements for dataset reading
  src/a6/datasets/_base.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix parsing of nmb-crops
  src/a6/dcv2/_parse.py
  src/tests/unit/dcv2/test_parse.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add logging statement for mean and std
  src/a6/dcv2/dataset.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add check for NCCL installation
  apptainer/a6-cuda.def
  docker/a6-cuda.Dockerfile
Due: none

Delete outdated comment from Dockerimage
  apptainer/a6-cuda.def
  docker/a6-cuda.Dockerfile
Due: none

Remove syncbn group size from argparser
  src/a6/dcv2/_parse.py
  src/a6/dcv2/_settings.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Introduce identity functional method
  src/a6/datasets/methods/__init__.py
  src/a6/datasets/methods/identity.py
  src/a6/dcv2/entry.py
  src/a6/dcv2/train.py
  src/tests/unit/dcv2/test_entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Save base args in global variable
  src/tests/unit/dcv2/test_entry.py
Due: none

Log env vars only for primary device
  src/a6/dcv2/entry.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add host i suffix for .juwels hosts
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Set apex group size to number of GPUs available
  src/a6/dcv2/_settings.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Log env vars before distributed setup
  src/a6/dcv2/entry.py
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Read nproc-per-node from SLURM_JOB_GPUS
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Use nproc-per-node=gpu
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Use CUDA_VISIBLE_DEVICES instead of Slurm env var
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Move models and dataset to respective modules
  src/a6/datasets/__init__.py
  src/a6/datasets/crop.py
  src/a6/dcv2/_initialization.py
  src/a6/dcv2/_logs.py
  src/a6/dcv2/_settings.py
  src/a6/dcv2/entry.py
  src/a6/models/__init__.py
  src/a6/models/resnet.py
  src/tests/unit/dcv2/test_dataset.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add ipykernel as dependency for running as Jupyter kernel
  apptainer/a6-cuda.def
  docker/a6-cuda.Dockerfile
  poetry.lock
  pyproject.toml
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix deploy command
  Makefile
Due: none

Reorder postprocessing
  src/a6/datasets/_base.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Move loss to device
  src/a6/dcv2/train.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix notebook for DCv2
  .gitignore
  notebooks/maelstrom-bootcamp-2023/01-data-insight.ipynb
  notebooks/maelstrom-bootcamp-2023/02-DeepClusterV2.ipynb
Due: none

Add first draft of Bootcamp notebook
  notebooks/maelstrom-bootcamp-2023/01-data-insight.ipynb
  notebooks/maelstrom-bootcamp-2023/02-DeepClusterV2.ipynb
  notebooks/maelstrom-bootcamp-2023/images/jupyterlab-kernel-status.png
  notebooks/maelstrom-bootcamp-2023/images/jupyterlab-kernel.png
Due: none

Check which sample is NaN
  src/a6/datasets/crop.py
  src/a6/dcv2/train.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Log loss and if input is NaN
  src/a6/dcv2/train.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix any is nan in input
  src/a6/dcv2/train.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Path conditions:
  build-docker: any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock
  test-cluster: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-temporal: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-grid-search: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
