Repository 4castRenewables/maelstrom-a6: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-cluster, test-temporal, test-grid-search

Path conditions:
  build-docker: any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock
  test-cluster: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-temporal: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)
  test-grid-search: (any of: docker/a6.Dockerfile, gitlab-ci.yml, src/a6/**/*.py, pyproject.toml, poetry.lock) or (any of: mlflow/**/*)

Fix total integrated/counter energy in analysis by removing sum
  jube/submit.yaml
Due: none

Remove installation of git
  docker/a6-cuda.Dockerfile
Due: none

Finish ARM Docker image
  docker/a6-cuda-arm.Dockerfile
Due: none

Remove installation of ipykernel
  apptainer/a6-cuda.def
  apptainer/a6-rocm.def
Due: none

Remove torch(vision) for ARM installation
  poetry.lock
  pyproject.toml
Due: build-docker, test-cluster, test-temporal, test-grid-search

Fix jube for e4-gh
  benchmark-results.md
  jube/README.md
  jube/submit.yaml
Due: none

Add changes for python 3.10 compatibility
  src/a6/dcv2/_settings.py
  src/a6/dcv2/entry.py
  src/a6/models/resnet.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Use docker for e4-gh
  jube/submit.yaml
Due: none

Delete benchmark results
  benchmark-results.md
Due: none

Fix jube script for JSC
  jube/submit.yaml
Due: none

Change host adaption for JSC
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Do not just host for multi-node
  src/a6/utils/distributed.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Append .juwels and .jureca for the respective queues
  jube/submit.yaml
Due: none

Remove deprecated single-gpu tag
  jube/README.md
  jube/submit.yaml
Due: none

Put user into required paths and comment about path to code repo in README.md
  jube/README.md
  jube/submit.yaml
Due: none

Move sentence to correct section
  jube/README.md
Due: none

Set benchmarks epochs to 10 for dc-gpu-devel
  jube/submit.yaml
Due: none

Add tag for multi-node experiment
  jube/README.md
  jube/submit.yaml
Due: none

Update backend config
  mlflow/compute-backend-config-dcv2.yaml
Due: test-cluster, test-temporal, test-grid-search

Try torchrun wrapper script for JSC
  jube/submit.yaml
  jube/torchrun_jsc.py
Due: none

Add torch and torchvision and install from requirements.txt in Docker
  docker/a6-cuda.Dockerfile
  poetry.lock
  pyproject.toml
  src/a6/plotting/embeddings.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add as to imports and fix errors introduced by merging
  src/a6/__init__.py
  src/a6/cli/__init__.py
  src/a6/cli/options/__init__.py
  src/a6/cli/training/__init__.py
  src/a6/datasets/__init__.py
  src/a6/datasets/methods/__init__.py
  src/a6/datasets/methods/save.py
  src/a6/datasets/transforms/__init__.py
  src/a6/dcv2/__init__.py
  src/a6/dcv2/cluster.py
  src/a6/dcv2/parse.py
  src/a6/dcv2/settings.py
  src/a6/dcv2/train.py
  src/a6/entry/__init__.py
  src/a6/entry/gwl.py
  src/a6/entry/preprocess.py
  src/a6/evaluation/__init__.py
  src/a6/features/methods/__init__.py
  src/a6/features/methods/reshape/__init__.py
  src/a6/models/__init__.py
  src/a6/models/checkpoints.py
  src/a6/modes/__init__.py
  src/a6/plotting/__init__.py
  src/a6/testing/__init__.py
  src/a6/training/__init__.py
  src/a6/training/metrics/__init__.py
  src/a6/utils/__init__.py
  src/tests/unit/datasets/methods/test_select.py
  src/tests/unit/datasets/torch/test_xarray_torch.py
  src/tests/unit/datasets/transforms/test_xarray_transforms.py
  src/tests/unit/dcv2/test_entry.py
  src/tests/unit/entry/test_preprocess.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Use correct module
  jube/run.py
Due: none

Reduce indentation
  mlflow/compute-backend-config-dcv2.yaml
  notebooks/pca_kmeans.ipynb
Due: test-cluster, test-temporal, test-grid-search

Update kernel
  notebooks/pca.ipynb
Due: none

Run pre commit
  jube/submit.yaml
  jube/torchrun_jsc.py
  notebooks/pca_kmeans.ipynb
Due: none

Add deep500
  poetry.lock
  pyproject.toml
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add deep500 timer
  .gitignore
  .pre-commit-config.yaml
  docker/a6-cuda.Dockerfile
  poetry.lock
  pyproject.toml
  src/a6/datasets/crop.py
  src/a6/datasets/transforms/xarray.py
  src/a6/dcv2/cluster.py
  src/a6/dcv2/train.py
  src/a6/entry/dcv2.py
  src/a6/plotting/assignments.py
  src/a6/utils/slurm.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Update CI template version and pin black version
  .gitlab-ci.yml
Due: none

Add .py and .yaml configs to Exclude
  mlflow/compute-backend-config-dcv2.yaml
  mlflow/compute-backend-config.yaml
Due: test-cluster, test-temporal, test-grid-search

Test import mantik in Dockerfile
  docker/a6-cuda.Dockerfile
Due: none

Log all deep500 stats as textfile
  src/a6/entry/dcv2.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add entry point params for plot/save results
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Env var value as string
  mlflow/compute-backend-config-dcv2.yaml
Due: test-cluster, test-temporal, test-grid-search

Run train_dv2.py from /opt
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Fix restarting from checkpoint
  src/a6/models/checkpoints.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add ImageNet dataloader
  src/a6/datasets/crop.py
  src/a6/dcv2/parse.py
  src/a6/dcv2/settings.py
  src/a6/entry/dcv2.py
Due: build-docker, test-cluster, test-temporal, test-grid-search

Add imagenet param to entry point dcv2
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search

Add additional_options field to dcv2 entry point for flexible usage
  mlflow/MLproject
Due: test-cluster, test-temporal, test-grid-search
